# Natural Language Processing
langchain
chromadb
# llama-cpp-python
pdfminer.six
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
protobuf
# auto-gptq
docx2txt

# Utilities
urllib3
accelerate
bitsandbytes
click
flask
requests

# Excel File Manipulation
openpyxl
